body {
    background-color: #f8d7e1;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 20px;
}

header {
    background-color: #f8c8d1;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #8b5b5b !important;
}

.nav-link:hover {
    color: #f4a7c1;
}

.btn-outline-primary {
    /* color: #ff6f91; */
    border-color: #ff6f91;
}

.btn-outline-primary:hover {
    background-color: #ff6f91;
    /* color: white; */
}

.seccion {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #8b5b5b;
}

input,
textarea {
    border: 1px solid #ff6f91;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    margin-bottom: 15px;
}

input[type="datetime-local"] {
    font-size: 1rem;
}

button[type="submit"] {
    background-color: #ff6f91;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #f07b91;
}

.modal-content {
    background-color: #f8d7e1;
    border-radius: 10px;
}

.modal-header {
    background-color: #ff6f91;
    color: white;
}

.modal-footer {
    background-color: #f8d7e1;
}

.modal-footer a {
    color: #ff6f91;
    text-decoration: none;
}

.modal-footer a:hover {
    text-decoration: underline;
}